<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon">
            <img src="https://wa-images.s3.eu-west-3.amazonaws.com/icon.svg" />
        </div>
        <div class="sidebar-brand-text mx-3">Symfony</div>
    </a>

    <hr class="sidebar-divider my-0">

    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_admin') }}">
            <i class="fa-solid fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <hr class="sidebar-divider">

    <li class="nav-item has-submenu">
        <a class="nav-link has-icon" href="#">
            <i class="fa-solid fa-users"></i>
            <span>Utilisateurs</span>
            <span class="caretIcon {% if sidebar == 'users' %}caretIconOpen{% else %}caretIconClose{% endif %}"></span>
        </a>
        <ul class="submenu collapse {#% if sidebar == 'users' %#}show{#% endif %#}">
            <li class="nav-item">
                <a class="nav-link" href="{#{ path('app_user_admin_index') }#}"><span>Utilisateurs</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{#{ path('app_team_index') }#}"><span>Administrateurs</span></a>
            </li>
        </ul>
    </li>

    <hr class="sidebar-divider">

    <li class="nav-item has-submenu">
        <a class="nav-link has-icon" href="#">
            <i class="fa-solid fa-pen-to-square"></i>
            <span>Rédactionnel</span>
            <span class="caretIcon {% if sidebar == 'redac' %}caretIconOpen{% else %}caretIconClose{% endif %}"></span>
        </a>
        <ul class="submenu collapse {#% if sidebar == 'redac' %#}show{#% endif %#}">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_posts_index') }}"><span>Posts</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_posts_index', {'id': app.user.id}) }}"><span>Mes Posts</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_tags_index') }}"><span>Tags</span></a>
            </li>
        </ul>
    </li>

    <hr class="sidebar-divider">

    <li class="nav-item">
        <a class="nav-link" href="{#{ path('app_team_edit', {'id': app.user.id })}#}">
            <i class="fa-solid fa-user"></i>
            <span>Mon profil</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('admin_logout') }}">
            <i class="fa-solid fa-right-from-bracket"></i>
            <span>Déconnexion</span>
        </a>
    </li>

    <li class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0 mt-3" id="sidebarToggle"></button>
    </li>

</ul>
<!-- End of Sidebar -->